@model loginregister.Models.LoginUser
<h1>Login</h1>
<div>
    <form asp-controller="Home" asp-action="Login" method="post" class="form-inline">
        <span asp-validation-for="LogEmail"></span>
        <label asp-for="LogEmail">Email</label>
        <input asp-for="LogEmail"/><br><br>
        <span asp-validation-for="LogPassword"></span>
        <label asp-for="LogPassword">Password</label>
        <input asp-for="LogPassword"/><br><br>
        <br><button type="submit" class="btn btn-primary" >Login</button>
    </form>